<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/user/trangchu.xhtml</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>BookmarkFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBean.BookmarkFacadeLocal</local>
        <ejb-link>Webraovat-ejb.jar#BookmarkFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PostFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBean.PostFacadeLocal</local>
        <ejb-link>Webraovat-ejb.jar#PostFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ProvinceFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBean.ProvinceFacadeLocal</local>
        <ejb-link>Webraovat-ejb.jar#ProvinceFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CatagoriesFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBean.CatagoriesFacadeLocal</local>
        <ejb-link>Webraovat-ejb.jar#CatagoriesFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ManagerFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBean.ManagerFacadeLocal</local>
        <ejb-link>Webraovat-ejb.jar#ManagerFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ProductsentityFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBean.ProductsentityFacadeLocal</local>
        <ejb-link>Webraovat-ejb.jar#ProductsentityFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MembersFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBean.MembersFacadeLocal</local>
        <ejb-link>Webraovat-ejb.jar#MembersFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BanlistpostFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBean.BanlistpostFacadeLocal</local>
        <ejb-link>Webraovat-ejb.jar#BanlistpostFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RolesmanagerFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBean.RolesmanagerFacadeLocal</local>
        <ejb-link>Webraovat-ejb.jar#RolesmanagerFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BanlistuserFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBean.BanlistuserFacadeLocal</local>
        <ejb-link>Webraovat-ejb.jar#BanlistuserFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PostcheckedFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBean.PostcheckedFacadeLocal</local>
        <ejb-link>Webraovat-ejb.jar#PostcheckedFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PostdeniedFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBean.PostdeniedFacadeLocal</local>
        <ejb-link>Webraovat-ejb.jar#PostdeniedFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ReportFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBean.ReportFacadeLocal</local>
        <ejb-link>Webraovat-ejb.jar#ReportFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RolesFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBean.RolesFacadeLocal</local>
        <ejb-link>Webraovat-ejb.jar#RolesFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MakeorderFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBean.MakeorderFacadeLocal</local>
        <ejb-link>Webraovat-ejb.jar#MakeorderFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OrderdetailsFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBean.OrderdetailsFacadeLocal</local>
        <ejb-link>Webraovat-ejb.jar#OrderdetailsFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MakeorderFacade1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBean.MakeorderFacadeLocal</local>
        <ejb-link>Webraovat-ejb.jar#MakeorderFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>AdminFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>SessionBean.AdminFacadeLocal</local>
        <ejb-link>Webraovat-ejb.jar#AdminFacade</ejb-link>
    </ejb-local-ref>
</web-app>
